<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="臻票云接口自动化测试">
    <test name="臻票云接口自动化测试">
        <groups>
            <run>
                <include name="正常开票"/>
                <include name="异常开票"/>
                <include name="多行电票开具"/>
                <include name="自助开票"/>
                <include name="电票冲红"/>
                <include name="开具普票"/>
                <include name="多行普票开具"/>
                <include name="开具专票"/>
                <include name="多行专票开具"/>
                <include name="普票红冲"/>
            </run>
        </groups>
        <classes>
            <class name="Case.InvocieExce.Fpqqlsh"/>
            <class name="Case.InvocieExce.Bz"/>
            <class name="Case.InvocieExce.De"/>
            <class name="Case.Invoice.DianPiao"/>
            <class name="Case.InvocieExce.Jsbh"/>
            <class name="Case.InvocieExce.Kplx"/>
            <class name="Case.Invoice.PuPiao"/>
            <class name="Case.Invoice.JuanPiao"/>
            <class name="Case.InvocieExce.Skr"/>
            <class name="Case.InvocieExce.Kpr"/>
            <class name="Case.InvocieExce.Fhr"/>
            <class name="Case.InvocieExce.Yhlx"/>
            <class name="Case.InvocieExce.Zxbm"/>
            <class name="Case.Invoice.ZhuanPiao"/>
            <class name="Case.InvocieExce.Fphxz"/>
            <class name="Case.InvocieExce.Fplxdm"/>
            <class name="Case.InvocieExce.Yfpdm"/>
            <class name="Case.InvocieExce.Ggxh"/>
            <class name="Case.InvocieExce.Yhzcbs"/>
            <class name="Case.InvocieExce.Spbm"/>
            <class name="Case.InvocieExce.Shnsrsbh"/>
            <class name="Case.InvocieExce.Ghdwdzdh"/>
            <class name="Case.InvocieExce.Ghdwsbh"/>
            <class name="Case.InvocieExce.Ghdwmc"/>
            <class name="Case.InvocieExce.Ghdwyhzh"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="Config.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>